@import '../../../scss/variables';

.before_after {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> div {
		width: 50%;
	}

	img {
		border-radius: 10px;
	}

	.heading {
		margin-bottom: 0.5rem;
	}
}

.center {
	text-align: center;
	margin: 6px 0 15px;
}
