@import '../../../scss/variables';

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div {
		width: 48%;
		> button {
			width: 100%;
		}

		&:last-child > button {
			background-color: #2c116c;
			opacity: 0.8;
			transition: opacity 0.15s ease;

			&:hover {
				background-color: $purple;
				opacity: 1;
			}
		}
	}
}
